
<%= javascript_include_tag "prototype.js" %>

<div style="background-color:#FFFFFF; border:1px solid #CDD3D8; float:left; width:604px;">
<div class="lightbox_header">Please enter your new password below.</div>
<div class="light_box_close"><a onclick="document.getElementById('modal_container').style.display='none';document.getElementById('modal_overlay').style.display='none'" href="javascript:void(0)"><img alt="close" src="/images/close_light_box.jpg"></a></div>
<div class="clear"><!-- --></div>
<div class="light_box_check_container">
<div class="inne_right_account">
<div id="news">
<%form_for "group", :url=>edit_csr_path,  :html=>{:method=>:get}  do |f|%>

<div class="inne_label"> New Password</div>
<%= password_field_tag :password,nil,:class =>"inner_field" %>
<div class="error_msg"><%= error_message_on "admin", "password" %></div>
<div class="clear"><!-- --></div>
<div class="inne_label">Confirm Password</div>
<%= password_field_tag :password_confirmation,nil,:class=>"inner_field" %>
<div id="msg_validate" style="color : red " > </div>
<input type="hidden" name="id" value="<%= @csr.id%>">
<div class="clear"><!-- --></div>
<button class="login_btn">
<img src="/images/reset_password.jpg" alt="reset" id="Reset My Password"/></button>
<div class="login_btn" ><a href="#" onclick="document.getElementById('modal_container').style.display='none';document.getElementById('modal_overlay').style.display='none'"><img src="/images/cancel.jpg" style="margin-left: 43px; margin-right: -107px;" alt="reset" id="Cancel"/></a></div>		
<br>
<br>
<br>
<br>
<br>
</div>

<% end %> 
<div class="clear"><!-- --></div><div class="clear"><!-- --></div><div class="clear"><!-- --></div>
</div>
</div>
</div>
















