
<div class="signup1" style="text-align:center;">Please enter your new password below.</div>
<div class="down_arrow"><img src="/images/down_arrow.jpg" alt="down_arrow" /></div>
<div class="clear"><!-- --></div>
<!-- left sign div start here-->
<%if flash[:error]%><div class="login_error"><%= flash.now[:error]%></div><%end%>
<%if flash[:notice]%><div class="login_sucess"><%= flash.now[:notice]%></div><%end%>
<div class="login_box" >
<div class="inne_right_account">

<% form_for :admin, :url => {:action => "reset_password"} do |form| %>
<div class="inne_label">Password</div>
<%= form.password_field :password, :class => 'inner_field' %>
<div class="error_msg"><%= error_message_on "admin", "password" %></div>
<div class="clear"><!-- --></div>
<div class="inne_label">Re-enter password</div>
<%= form.password_field :password_confirmation,:class =>"inner_field" %>
<div class="error_msg"><%= error_message_on "admin", "password_confirmation" %></div>
<div class="clear"><!-- --></div>
<div class="forgot_password"><button class="login_btn"><img src="/images/reset_password.jpg" alt="reset" id="Reset Password"/></button></div>
</div>

</div>
<div class="clear"><!-- --></div>
</div>
<% end %> 

















