
<div class="admin_lightbox_activity">
<div class="admin_light_box">
<div class="signup_lightbox">My Account > Change plan<div class="pops"></div></div>
  <div class="light_box_close"><%=link_to image_tag("close_light_box.jpg"),:controller => 'admin/billing_informations', :action => 'owner_account',:id=>@group.id %></div>
  <div class="clear"><!-- --></div>
  <div class="down_arrow_lightbox"><img alt="down_arrow" src="/images/down_arrow.jpg"/></div>
  <div class="clear"><!-- --></div>
  <div class="inform_lightbox">Please select a plan. You can change your plan at anytime.</div>
  <div class="clear"><!-- --></div>
  <div class="group_leader">
  <% form_tag ({:controller=>'admin/billing_informations',:action=>"update_plan",:id=>@group.id}) do%>
  <% for  i in 1..3%>
  <div class="radio_pop_change_container">
    <div class="left_radio">
    <%  c = (@group.user.pricing_plan_id==(i+1)) ? true  : false %>
      <%= radio_button "user","plan",i+1,:class=>"radio_btn",:checked => c, :onClick=>"valid('#{@group.user.groups.count.to_s}','#{@plans[i].max_group.to_s}','#{i+1}','#{@grous.count}')" %>
      <%#= radio_button "user","plans","2",:class=>"radio_btn",:checked=>true%>
      plan <%= i%> 
    </div>
    <div class="radio_right_container">
    <div class="radio_right"><p><span class="number">$<%=h @plans[i].amount%></span> per month</p>
    <p>Include <span class="number"><%=h @plans[i].max_users_in_group%></span> users per group</p>
    <p>Include <span class="number"><%=h @plans[i].max_group%></span> groups</p></div>
    </div>
  </div>
  <%end%>
  <div class="clear"></div>
  <div class="clear"></div>
  <div class="clear"></div>
  <div class="next_button_container">
    <%= link_to image_tag("cancel.jpg", :class=>"cancel_ora"),:controller => 'admin/billing_informations', :action => 'owner_account',:id=>@group.id %>
    <%= image_submit_tag "update.jpg" ,:class=>"next_ora"%>
  </div>
<%end%>
</div>
</div></div></div>


