<div id="billing-history-container">
<div class="signup1">
<% if current_user.is_free_user.nil? || current_user.is_free_user%>
<a href="<%= edit_user_path(:id=>current_user.id)%>">&lt;&lt; Back </a>
<%else%>
<a href="<%= edit_paid_users_path(:id=>current_user.id)%>">&lt;&lt; Back </a>
<%end%>
</div>
<div class="down_arrow"><img src="/images/down_arrow.jpg" alt="down_arrow" /></div>
<div class="clear"><!-- --></div>
<!-- left sign div start here-->
<!-- left sign div ends here-->
<!-- right sign div strat here-->
<div class="right_sign" style="margin-left:0px;">
<div class="inform">Billing History</div>

<div class="clear"><!-- --></div>
<div class="billing-history-wrap">
    <div class="billing-history-titles">
		<span class="date-bill">Date</span>
        <span class="method-bill">Method</span>
        <span class="discrip-bill">Description</span>
        <span class="changes-bill">Charges</span>        
    </div><!--billing-history-titles-->
   
	<div class="detail-billing-history-wrap">
   <% for history in @historys%>
    	<div class="detail-billing-hist">
        	<span class="calender-detail-bill"><%= history.created_at.strftime("%m/%d/%Y")%></span>
            <span class="visa-detail-bill"> Visa-XXXX </span>
            <span class="plan-detail-bill"><%= history.pricing_plan.plan_name%>
 ( MM/DD/YYYY TO MM/DD/YYYY ) </span>
            <span class="doller-detail-bill">$<%= history.amount%></span>
        </div>
   <%end%>
    </div><!--detail-billing-history-wrap-->



</div><!--billing-history-wrap-->
</div>
<div class="clear"><!-- --></div>



