
  <div class="clear"></div>
  <div class="clear"></div>






<div class="create_group_form">


<%= render :partial=>"warning_page"%>

  
</div>






<div class="clear"></div>
<div class="clear"></div>
<div class="footer-bottom-menu" style="margin-top:50px;">
   <ul><%params[:gid]=session[:filter_group] if session[:filter_group] && !session[:filter_group].blank?%>
        <% if @favorites && !@favorites.empty? %>
            <% @favorites.each do |favourite|%>
              <%gcolor=favourite_group_color(favourite.group.id)%>
                <% if params[:gid].to_i==favourite.group.id%>
                  <li> <a href="<%=group_info_group_infos_path(:id=>favourite.group.id,:filter=>"yes")%>" style="background:#<%=gcolor%>" onMouseover="this.style.backgroundColor='#F0EFEF';"  onMouseout="this.style.backgroundColor='#<%=gcolor%>';"><span><%= h truncate(favourite.group.name,10) unless favourite.nil?%>(<%=new_activities(favourite.group.id)%>)</span></a></li>
                <%else%>
                  <li> <a href="<%=group_info_group_infos_path(:id=>favourite.group.id,:filter=>"yes")%>" style="color:#2554c7" onMouseover="this.style.backgroundColor='#<%=gcolor%>';" onMouseout="this.style.backgroundColor='';"><span><%= h truncate(favourite.group.name,10) unless favourite.nil?%>(<%=new_activities(favourite.group.id)%>)</span></a></li>
                <%end%>
            <%end%>
        <%end%>
        <li class=""><a id="more222" href="/activities/more_footer?1=4"><span id="lightbox">MORE <script>new lightbox($('more222'), {className:'light_box_container_admin'});</script></span></a></li>
    </ul>
</div>

<script>
function clear_date(cal_id,ck_id)
{
  if ($(ck_id).checked == true)
    $(cal_id).value="";
}

function clear_ckbox(cal_id,ck_id)
{
if ($(cal_id).value=="")
$(ck_id).checked=true;
else
$(ck_id).checked=false;
}
function validate_group()
{
  if(($('group_due_date').value=="") && ($('accept').checked==false))
  {
  $('errors').innerHTML="Please enter the due date or set as No due date"
  return false;
  }
  else
  {
  return true;
  }

}
function check_date_in_form(form_id)
{
var n=$(form_id).elements.length;
var k=0;
var r=true;
for(var i=0;i<n;i++)
{ 
  if ($(form_id).elements[i].type=="checkbox")
  k++;
}
for(i=1;i<=k;i++)
{
if($('accept'+i).checked==false && $('group[objective'+i+'][due_date]').value=="")
  {
    r=false;
    $('objetive_error'+i).innerHTML="Please enter due date or set as no due date"
  }
else
  {
    $('objetive_error'+i).innerHTML=""
  }
}
return r;
}

</script>
